.body {
    font-family: serif;
    font-size: 16px;

}
#address{
    text-align: center;
    text-wrap: wrap;
}
h1{
font-family: sans-serif;
font-size: 36px;
text-align: center;
background-color: rgb(75, 133, 94);
color: rgb(33, 87, 51);
}
h2{
    font-family: sans-serif;
    font-size: 24px;
    color: rgb(33, 87, 51);
}
h3{
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(33, 87, 51);
}
li{
    list-style-type: square;
}
hr{
    size: 10;
    width: 100%;
    border-style: solid;
    border-color: rgb(33, 87, 51);
    border-width: 3px;
}